<div class="graph-page">

  <header class="graph-header">

    <div>

      <h1>
        Synapse IA
      </h1>

      <p>
        Knowledge Graph
      </p>

    </div>

    <button
      class="load-button"
      type="button"
      (click)="loadGraph()"
    >
      Cargar grafo
    </button>

  </header>


  <main class="graph-content">

    <section
      class="graph-card"
      [class.panel-open]="selectedNode"
    >

      <div
        #graphContainer
        class="graph-container"
      ></div>

    </section>


    @if (selectedNode; as node) {

      <aside class="node-panel">

        <div class="panel-header">

          <div>

            <span class="panel-label">
              NODO SELECCIONADO
            </span>

            <h2>
              {{ node.label }}
            </h2>

          </div>

          <button
            class="close-button"
            type="button"
            (click)="closeNodePanel()"
          >
            ×
          </button>

        </div>


        <div class="node-type">

          <span>
            Tipo
          </span>

          <strong>
            {{ node.type }}
          </strong>

        </div>


        <div class="properties-section">

          <h3>
            Propiedades
          </h3>


          @if (node.properties; as properties) {

            <div class="properties-list">

              @for (
                property of properties | keyvalue;
                track property.key
              ) {

                <div class="property">

                  <span class="property-name">
                    {{ property.key }}
                  </span>

                  <span class="property-value">

                    @if (
                      property.value !== null &&
                      property.value !== undefined
                    ) {

                      {{ property.value }}

                    } @else {

                      Sin información

                    }

                  </span>

                </div>

              }

            </div>

          } @else {

            <div class="empty-properties">

              Este nodo no contiene
              propiedades adicionales.

            </div>

          }

        </div>


        <div class="node-id">

          <span>
            ID del nodo
          </span>

          <code>
            {{ node.id }}
          </code>

        </div>

      </aside>

    }

  </main>

</div>